*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #131411;
}

.form{
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    background: #131411;
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px -10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.form h1{
    color: #c1c1c1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.form .input{
    text-align: left;
    margin-top: 40px;
}

.form .input .inputBox{
    margin-top: 20px;
}

.form .input .inputBox label{
    display: block;
    color: #886688;
    margin-bottom: 5px;
    font-size: 18px;   
}

.form .input .inputBox input {
    width: 100%;
    height: 50px;
    background: #131411;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset  2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input[type="submit"]{
    margin-top: 20px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input[type="submit"]:active{
    color: #006c9c;
    margin-top: 20px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.form .input .inputBox input::placeholder{
    color: #555;
    font-size: 18px;
}

