*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    
    align-items: center;
    min-height: 100vh;
    background: #131411;
}

.maily{
    position: relative;
    width: 500px;
    padding: 40px 40px 60px;
    background: #131411;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.maily .info h3{
    color: #c1c1c1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.maily .info .inputBox input[type="submit"]{
    margin-top: 20px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.maily .info .inputBox input[type="submit"]:active{
    color: #006c9c;
    margin-top: 20px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.maily .generace{
    margin-top: 20px;
    display: flex;
}

.maily .generace td{
    width: 100%;
    height: 50px;
    background: #131411;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px 30px;
    color: #fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset  2px 2px 6px rgba(0, 0, 0, 0.8);
}

